*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(148, 38%, 91%);
}

.formulario{
    background-color: white;
padding: 3em;
height: 90vh;
width: 50vw;
margin: 5em;
border-radius: 1em;

}
.campoNome{
display: flex;
}
.sobrenome, .primeiroNome{
display: flex;
flex-direction: column;
margin: 1em;
}
h1{

}
label{
    font-size: 1em;
    margin-bottom: 1em;
    
}
input{
    width: 100%

}
.primeiroNome input, .sobrenome input{
    width: 20vw;
    height: 2.5em;
    border-radius: 0.5em;    
}
.campoEmail{
    display: flex;
    flex-direction: column; 
}
.campoEmail input{
    border-radius: 0.5em;
    height: 3em;
    width: 100%
}
.campoDeselecao{
    display: flex;
}
.campoDeselecao input{
    width: 5vw;
    height:3vh ;
}
.campoMensagem{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.campoMensagem input{
    width: 100%;
    height: 2.5em;
    border-radius: 0.5em;
}
.termos{
    display: flex;
    margin: 1em;
}
button{
    width: 100%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.5em;
    height: 5vh;
}
.caixa{
    border: 1px solid grey;
    margin-right: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
}
h4{
    margin: 0.5em 0 0.5em 0;
}